<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Calendar Suite" allow-return-values="true" verbose="1" parallel="methods" thread-count="3">
	<listeners>
		<listener class-name="com.athena.automation.framework.reporters.AllureListener" />
	</listeners>
	<test name="Calendar Test">
		<classes>
			<class name="com.athena.automation.scripts.social.webapp.tests.profile.CalendarTests" />
		</classes>
	</test>
</suite>